on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  lumen-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '7.4'
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('code/.env') || copy('code/.env.example', 'code/.env');"
    - name: Install Dependencies
      run: cd code && composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: cd code && vendor/bin/phpunit  --filter testExample

